<template>
  <div class="admin-container">
    <div class="q-pa-md q-gutter-md" style="font-family:Yekan">
      <div class="row justify-end items-start content-start">
        <div class="row self-end">
          <q-btn v-if="(showTeacher || showStudent || showIndustry)" dense style="margin-right: 10px" flat color="primary" icon="close" @click="(showTeacher = false),
                    (showIndustry = false),
                    (showStudent = false)" size="sm"></q-btn>
          <q-btn-dropdown
            style="margin-right:1em;"
            color="primary"
            label="انتخاب کاربر"
          >
            <q-list>
              <q-item
                clickable
                v-close-popup
                @click="
                  (showTeacher = false),
                    (showIndustry = false),
                    (showStudent = true)
                "
              >
                <q-item-section>
                  <q-item-label style="font-family:Yekan">دانشجو</q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                v-close-popup
                @click="
                  (showTeacher = true),
                    (showIndustry = false),
                    (showStudent = false)
                "
              >
                <q-item-section>
                  <q-item-label style="font-family:Yekan">اساتید</q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                v-close-popup
                @click="
                  (showTeacher = false),
                    (showIndustry = true),
                    (showStudent = false)
                "
              >
                <q-item-section>
                  <q-item-label style="font-family:Yekan">صنعت</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
          <div class="row self-end">
            <span style="font-size:20px;"> اضافه نمودن کاربر</span>
          </div>
        </div>
      </div>
      <q-form class="q-gutter-md">
        <div v-if="showStudent" style="margin-top: 5%">
          <div class="row q-gutter-md">
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="studentPhoneNum"
                type="tel"
                mask="###########"
                label="شماره همراه"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="studentFirstName"
                label="نام"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="studentLastName"
                label="نام خوانوادگی"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="studentEmail"
                label="ایمیل"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="studentNum"
                label="شماره دانشجویی"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-select
                label="دانشکده"
                transition-show="flip-up"
                transition-hide="flip-down"
                filled
                v-model="studentDepartment"
                :options="depOptions"
                style="font-family:Yekan"
              />
            </div>
            <div class="col-12 col-sm-3">
              <q-select
                label="گروه"
                transition-show="flip-up"
                transition-hide="flip-down"
                filled
                v-model="studentField"
                :options="fieldOptions"
                style="font-family:Yekan"
              />
            </div>
          </div>
          <div class="row justify-end">
            <div style="margin-top:1em" class="row self-start">
              <q-btn
                icon="edit"
                color="primary"
                style="float:right;font-family:Yekan;"
                push
                size="md"
                @click="postStudent"
                >تایید</q-btn
              >
            </div>
          </div>
        </div>
        <div v-if="showTeacher">
          <div class="row q-gutter-md">
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="teacherPhoneNum"
                type="tel"
                mask="###########"
                label="شماره همراه"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="teacherFirstName"
                label="نام"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="TeacherLastName"
                label="نام خوانوادگی"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="TeacherEmail"
                label="ایمیل"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="TeacherNum"
                label="شماره پرسنلی"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-select
                label="دانشکده"
                transition-show="flip-up"
                transition-hide="flip-down"
                filled
                v-model="TeacherDpartment"
                :options="depOptions"
                style="font-family:Yekan"
              />
            </div>
            <div class="col-12 col-sm-3">
              <q-select
                label="گروه"
                transition-show="flip-up"
                transition-hide="flip-down"
                filled
                v-model="TeacherField"
                :options="fieldOptions"
                style="font-family:Yekan"
              />
            </div>
          </div>
          <div class="row justify-end">
            <div style="margin-top:1em" class="col">
              <q-btn
                icon="edit"
                color="primary"
                style="float:right;font-family:Yekan;"
                push
                size="md"
                @click="postTeacher"
                >تایید</q-btn
              >
            </div>
          </div>
        </div>
        <div v-if="showIndustry">
          <div class="row q-gutter-md">
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="industryPhoneNum"
                type="tel"
                mask="###########"
                label="شماره همراه"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="industryFirstName"
                label="نام"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="industryLastName"
                label="نام خوانوادگی"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="industryEmail"
                label="ایمیل"
              >
              </q-input>
            </div>
            <div class="col-12 col-sm-3">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="industryName"
                label="نام صنعت"
              >
              </q-input>
            </div>
          </div>
          <div class="row justify-end">
            <div style="margin-top:1em" class="col">
              <q-btn
                icon="edit"
                color="primary"
                style="float:right;font-family:Yekan;"
                push
                size="md"
                @click="postIndustry"
                >تایید</q-btn
              >
            </div>
          </div>
        </div>
      </q-form>
    </div>
    <div class="q-pa-md q-gutter-md" style="font-family:Yekan">
      <q-table
        no-data-label="داده ای یافت نشد"
        :dense="$q.screen.lt.md"
        title="دانشجویان"
        :data="students"
        :columns="studentColumns"
        row-key="phone_num"
        :pagination.sync="pagination"
        :loading="studentLoading"
        binary-state-sort
        selection="single"
        :selected.sync="stSelected"
      >
        <template v-slot:top>
          <div class="row full-width justify-between">
            <div class="col-10">
              <span style="display:inline;">دانشجویان</span>
            </div>
            <div v-if="stSelected.length !==0" class="col-md-1 col-sm-2">
              <q-btn
                  color="negative"
                  label="حذف"
                  @click="deleteStudent"
              ></q-btn>
            </div>
            <div class="col-md-1 col-sm-1">
              <q-btn
                  color="primary"
                  :disable="stSelected.length === 0"
                  label="ویرایش"
                  @click="editStudent"
              ></q-btn>
            </div>

          </div>
        </template>
      </q-table>
      <q-table
        no-data-label="داده ای یافت نشد"
        :dense="$q.screen.lt.md"
        title="صنایع"
        :data="teachers"
        :columns="instructorColumns"
        row-key="phone_num"
        :pagination.sync="pagination"
        :loading="studentLoading"
        binary-state-sort
        selection="single"
        :selected.sync="teSelected"
      >
        <template v-slot:top>
          <div class="row justify-between full-width">
            <div class="col-10">
              <span style="display:inline">اساتید</span>
            </div>
            <div v-if="teSelected.length !==0" class="col-md-1 col-sm-2">
              <q-btn
                  color="negative"
                  label="حذف"
                  @click="deleteTeacher"
              ></q-btn>
            </div>
            <div class="col-md-1 col-sm-2">
              <q-btn
                  color="primary"
                  :disable="teSelected.length === 0"
                  label="ویرایش"
                  @click="editTeacher"
              ></q-btn>
            </div>
          </div>
        </template>
      </q-table>
      <q-table
        no-data-label="داده ای یافت نشد"
        :dense="$q.screen.lt.md"
        title="صنایع"
        :data="industries"
        :columns="industryColumns"
        row-key="phone_num"
        :pagination.sync="pagination"
        :loading="studentLoading"
        binary-state-sort
        selection="single"
        :selected.sync="inSelected"
      >
        <template v-slot:top>
          <div class="row full-width justify-between">
            <div class="col-9">
              <span style="display:inline">صنایع</span>
            </div>
            <div v-if="inSelected.length !==0" class="col-1">
              <q-btn
                  color="negative"
                  label="حذف"
                  @click="deleteIndustry"
              ></q-btn>
            </div>
            <div class="col-1">
              <q-btn
                  color="primary"
                  :disable="inSelected.length === 0"
                  label="ویرایش"
                  @click="editIndustry"
              ></q-btn>
            </div>
          </div>
        </template>
      </q-table>
    </div>
    <q-dialog v-model="showStudentDi">
      <q-card>
        <q-card-section class="q-pd-md ">
          <div class="column q-gutter-md q-pd-md">
            <div class="col self-start">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="studentPhoneNum"
                type="tel"
                mask="###########"
                label="شماره همراه"
              >
              </q-input>
            </div>
            <div class="col self-start">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="studentFirstName"
                label="نام"
              >
              </q-input>
            </div>
            <div class="col self-start">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="studentLastName"
                label="نام خوانوادگی"
              >
              </q-input>
            </div>
            <div class="column">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="studentEmail"
                label="ایمیل"
              >
              </q-input>
            </div>
            <div class="column">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="studentNum"
                label="شماره دانشجویی"
              >
              </q-input>
            </div>
            <div class="column">
              <q-select
                label="دانشکده"
                transition-show="flip-up"
                transition-hide="flip-down"
                filled
                v-model="studentDepartment"
                :options="depOptions"
                style="width: 250px;font-family:Yekan"
              />
            </div>
            <div class="column">
              <q-select
                label="گروه"
                transition-show="flip-up"
                transition-hide="flip-down"
                filled
                v-model="studentField"
                :options="fieldOptions"
                style="width: 250px;font-family:Yekan"
              />
            </div>
          </div>
        </q-card-section>
        <q-card-actions>
          <q-btn
            icon="edit"
            color="primary"
            style="float:left;font-family:Yekan;"
            push
            size="md"
            @click="putStudent"
            >تایید</q-btn
          >
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showTeacherDi">
      <q-card>
        <q-card-section class="q-pd-md q-gutter-md">
          <div class="col self-center">
            <q-input
              style="font-family:Yekan;"
              clearable
              standout
              outlined
              v-model="teacherFirstName"
              label="نام"
            >
            </q-input>
          </div>
          <div class="col self-center">
            <q-input
              style="font-family:Yekan;"
              clearable
              standout
              outlined
              v-model="TeacherLastName"
              label="نام خوانوادگی"
            >
            </q-input>
          </div>
          <div class="column">
            <q-input
              style="font-family:Yekan;"
              clearable
              standout
              outlined
              v-model="TeacherEmail"
              label="ایمیل"
            >
            </q-input>
          </div>
          <div class="column">
            <q-input
              style="font-family:Yekan;"
              clearable
              standout
              outlined
              v-model="TeacherNum"
              label="شماره پرسنلی"
            >
            </q-input>
          </div>
          <div class="column">
            <q-select
              label="دانشکده"
              transition-show="flip-up"
              transition-hide="flip-down"
              filled
              v-model="TeacherDpartment"
              :options="depOptions"
              style="width: 250px;font-family:Yekan"
            />
          </div>
          <div class="column">
            <q-select
              label="گروه"
              transition-show="flip-up"
              transition-hide="flip-down"
              filled
              v-model="TeacherField"
              :options="fieldOptions"
              style="width: 250px;font-family:Yekan"
            />
          </div>
        </q-card-section>
        <q-card-actions>
          <q-btn
            icon="edit"
            color="primary"
            style="float:left;font-family:Yekan;"
            push
            size="md"
            @click="putTeacher"
            >تایید</q-btn
          >
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showIndustryDi">
      <q-card>
        <q-card-section>
          <div class="column q-gutter-md">
            <div class="col self-center">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="industryPhoneNum"
                type="tel"
                mask="###########"
                label="شماره همراه"
              >
              </q-input>
            </div>
            <div class="col self-center">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="industryFirstName"
                label="نام"
              >
              </q-input>
            </div>
            <div class="col self-center">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="industryLastName"
                label="نام خوانوادگی"
              >
              </q-input>
            </div>
            <div class="column">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="industryEmail"
                label="ایمیل"
              >
              </q-input>
            </div>
            <div class="column">
              <q-input
                style="font-family:Yekan;"
                clearable
                standout
                outlined
                v-model="industryName"
                label="نام صنعت"
              >
              </q-input>
            </div>
            <div class="column">
                  <q-toggle
        v-model="is_active"
        label="فعال"
      />
            </div>
          </div>
        </q-card-section>
        <q-card-actions>
          <q-card-actions>
            <q-btn
              icon="edit"
              color="primary"
              style="float:left;font-family:Yekan;"
              push
              size="md"
              @click="putIndustry"
              >تایید</q-btn
            >
          </q-card-actions>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      students: "students",
      teachers: "teachers",
      industries: "industries",
      mobile: "mobile",
    })
  },
  created() {
    this.$store.dispatch("getStudents");
    this.$store.dispatch("getTeacher");
    this.$store.dispatch("getIndustry");
  },
  data() {
    return {
      showStudentDi: false,
      showTeacherDi: false,
      showIndustryDi: false,
      depOptions: [
        {
          label: "مهندسی کامپوتر",
          value: "CE"
        }
      ],
      fieldOptions: [
        {
          label: "فناوری اطلاعات",
          value: "IT"
        },
        {
          label: "نرم افزار",
          value: "SO"
        },
        {
          label: "معماری کامپوتر",
          value: "ARCH"
        }
      ],
      is_active:false,
      studentPhoneNum: "",
      studentFirstName: "",
      studentLastName: "",
      studentEmail: "",
      studentNum: "",
      studentDepartment: "",
      studentField: "",
      teacherPhoneNum: "",
      teacherFirstName: "",
      TeacherLastName: "",
      TeacherEmail: "",
      TeacherNum: "",
      TeacherDpartment: "",
      TeacherField: "",
      industryPhoneNum: "",
      industryFirstName: "",
      industryLastName: "",
      industryEmail: "",
      industryName: "",
      stSelected: [],
      teSelected: [],
      inSelected: [],
      studentLoading: false,
      showStudent: false,
      showTeacher: false,
      showIndustry: false,
      depConv: { CE: "مهندسی کامپیوتر" },
      fieldConv: {
        IT: "فناوری اطلاعات",
        SO: "نرم افزار",
        ARCH: "معماری کامپیوتر"
      },
      revfieldConv: {
        "فناوری اطلاعات": "IT",
        "نرم افزار": "SO",
        "معماری کامپیوتر": "ARCH"
      },
      pagination: {
        page: 2,
        rowsPerPage: 20,
        rowsNumber: 40
      },
      studentColumns: [
        {
          name: "phone_num",
          required: true,
          label: "شماره همراه",
          align: "center",
          field: "phone_num",
          format: val => `${val}`,
          sortable: true
        },
        {
          label: "نام",
          align: "center",
          name: "firt_name",
          field: "first_name",
          sortable: true
        },
        {
          label: "نام خوانوادگی",
          name: "last_name",
          field: "last_name",
          align: "center",
          sortable: true
        },
        { label: "ایمیل", name: "email", align: "center", field: "email" },
        {
          label: "شماره دانشجویی",
          name: "student_num",
          align: "center",
          field: "student_num"
        },
        {
          label: "دانشکده",
          name: "department",
          align: "center",
          field: "department"
        },
        {
          label: "گروه",
          name: "field",
          field: "field",
          align: "center",
          sortable: true
        }
      ],
      instructorColumns: [
        {
          name: "phone_num",
          required: true,
          label: "شماره همراه",
          align: "center",
          field: "phone_num",
          format: val => `${val}`,
          sortable: true
        },
        {
          label: "نام",
          align: "center",
          name: "firt_name",
          field: "first_name",
          sortable: true
        },
        {
          label: "نام خوانوادگی",
          name: "last_name",
          field: "last_name",
          align: "center",
          sortable: true
        },
        { label: "ایمیل", name: "email", align: "center", field: "email" },
        {
          label: "شماره پرسنلی",
          name: "personal_num",
          align: "center",
          field: "personal_num"
        },
        {
          label: "دانشکده",
          name: "department",
          align: "center",
          field: "department"
        },
        {
          label: "گروه",
          name: "field",
          field: "field",
          align: "center",
          sortable: true
        }
      ],
      industryColumns: [
        {
          name: "phone_num",
          required: true,
          label: "شماره همراه",
          align: "center",
          field: "phone_num",
          format: val => `${val}`,
          sortable: true
        },
        {
          label: "نام",
          align: "center",
          name: "firt_name",
          field: "first_name",
          sortable: true
        },
        {
          label: "نام خوانوادگی",
          name: "last_name",
          field: "last_name",
          align: "center",
          sortable: true
        },
        { label: "ایمیل", name: "email", align: "center", field: "email" },
        {
          label: "نام صنعت",
          name: "represents",
          align: "center",
          field: "represents"
        },
        
      ]
    };
  },
  methods: {
    postStudent() {
      let payload = {};
      payload["phone_num"] = this.studentPhoneNum;
      payload["first_name"] = this.studentFirstName;
      payload["last_name"] = this.studentLastName;
      payload["email"] = this.studentEmail;
      payload["department"] = this.studentDepartment.value;
      payload["field"] = this.studentField.value;
      payload["student_num"] = this.studentNum;
      this.$store
        .dispatch("postStudent", payload)
        .then(() => {
          this.$q.notify({
            message:
              '<span style="font-family:Yekan;float:right;font-size:15px;">دانشجو اضافه شد</span>',
            color: "positive",
            html: true
          });
        })
        .catch(error => {
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span></span>`,
            color: "negative",
            html: true
          });
        });
    },
    postTeacher() {
      let payload = {};
      payload["phone_num"] = this.teacherPhoneNum;
      payload["first_name"] = this.teacherFirstName;
      payload["last_name"] = this.TeacherLastName;
      payload["email"] = this.TeacherEmail;
      payload["department"] = this.TeacherDpartment.value;
      payload["field"] = this.TeacherField.value;
      payload["personnel_num"] = this.TeacherNum;
      this.$store
        .dispatch("postTeacher", payload)
        .then(() => {
          this.$q.notify({
            message:
              '<span style="font-family:Yekan;float:right;font-size:15px;">استاد اضافه شد</span>',
            color: "positive",
            html: true
          });
        })
        .catch(error => {
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span></span>`,
            color: "negative",
            html: true
          });
        });
    },
    postIndustry() {
      let payload = {};
      payload["phone_num"] = this.industryPhoneNum;
      payload["first_name"] = this.industryFirstName;
      payload["last_name"] = this.industryLastName;
      payload["email"] = this.industryEmail;
      payload["represents"] = this.industryName;
      payload["is_active"] = true;
      this.$store
        .dispatch("postIndustry", payload)
        .then(() => {
          this.$q.notify({
            message:
              '<span style="font-family:Yekan;float:right;font-size:15px;">صنعت اضافه شد</span>',
            color: "positive",
            html: true
          });
        })
        .catch(error => {
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span></span>`,
            color: "negative",
            html: true
          });
        });
    },
    deleteStudent(){
      this.$store.dispatch("deleteStudent",this.stSelected[0].id)
      .then(() => {
        this.stSelected = [];
        this.$q.notify({
          message:
              '<span style="font-family:Yekan;float:right;font-size:15px;">دانشجو حذف شد</span>',
          color: "positive",
          html: true
        });
      })
      .catch(error => {
        this.$q.notify({
          message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span></span>`,
          color: "negative",
          html: true
        });
      })
    },
    deleteTeacher(){
      this.$store.dispatch("deleteTeacher",this.teSelected[0].id)
          .then(() => {
            this.teSelected = [];
            this.$q.notify({
              message:
                  '<span style="font-family:Yekan;float:right;font-size:15px;">استاد حذف شد</span>',
              color: "positive",
              html: true
            });
          })
          .catch(error => {
            this.$q.notify({
              message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span></span>`,
              color: "negative",
              html: true
            });
          })
    },
    deleteIndustry(){
      this.$store.dispatch("deleteIndustry",this.inSelected[0].id)
          .then(() => {
            this.inSelected = [];
            this.$q.notify({
              message:
                  '<span style="font-family:Yekan;float:right;font-size:15px;">صنعت حذف شد</span>',
              color: "positive",
              html: true
            });
          })
          .catch(error => {
            this.$q.notify({
              message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span></span>`,
              color: "negative",
              html: true
            });
          })
    },
    rejectIndustry(){
      let row = this.inSelected[0];
      let payload = {};
      payload["phone_num"] = this.industryPhoneNum;
      payload["first_name"] = this.industryFirstName;
      payload["last_name"] = this.industryLastName;
      payload["email"] = this.industryEmail;
      payload["represents"] = this.industryName;
      payload["is_active"] = false;
      payload["id"] = row.id;
      this.$store
          .dispatch("putIndustry", payload)
          .then(() => {
            this.$q.notify({
              message:
                  '<span style="font-family:Yekan;float:right;font-size:15px;">صنعت تایید شد</span>',
              color: "positive",
              html: true
            });
          })
          .catch(error => {
            this.$q.notify({
              message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span></span>`,
              color: "negative",
              html: true
            });
          });
    },
    acceptIndustry(){
      let row = this.inSelected[0];
      let payload = {};
      payload["phone_num"] = this.industryPhoneNum;
      payload["first_name"] = this.industryFirstName;
      payload["last_name"] = this.industryLastName;
      payload["email"] = this.industryEmail;
      payload["represents"] = this.industryName;
      payload["is_active"] = true;
      payload["id"] = row.id;
      this.$store
          .dispatch("putIndustry", payload)
          .then(() => {
            this.$q.notify({
              message:
                  '<span style="font-family:Yekan;float:right;font-size:15px;">صنعت تایید شد</span>',
              color: "positive",
              html: true
            });
          })
          .catch(error => {
            this.$q.notify({
              message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span></span>`,
              color: "negative",
              html: true
            });
          });
    },
    putIndustry() {
      let row = this.inSelected[0];
      let payload = {};
      payload["phone_num"] = this.industryPhoneNum;
      payload["first_name"] = this.industryFirstName;
      payload["last_name"] = this.industryLastName;
      payload["email"] = this.industryEmail;
      payload["represents"] = this.industryName;
        payload["is_active"] = this.is_active;
      payload["id"] = row.id;
      this.$store
        .dispatch("putIndustry", payload)
        .then(() => {
          this.$q.notify({
            message:
              '<span style="font-family:Yekan;float:right;font-size:15px;">صنعت ویرایش شد</span>',
            color: "positive",
            html: true
          });
        })
        .catch(error => {
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span></span>`,
            color: "negative",
            html: true
          });
        });
    },
    putTeacher() {
      let payload = {};
      let row = this.teSelected[0];
      payload["phone_num"] = this.teacherPhoneNum;
      payload["first_name"] = this.teacherFirstName;
      payload["last_name"] = this.TeacherLastName;
      payload["email"] = this.TeacherEmail;
      payload["department"] = "CE";
      payload["field"] = this.revfieldConv[this.TeacherField];
      payload["personnel_num"] = this.TeacherNum;
      payload["id"] = row.id;
    
      this.$store
        .dispatch("putTeacher", payload)
        .then(() => {
          this.$q.notify({
            message:
              '<span style="font-family:Yekan;float:right;font-size:15px;">استاد ویرایش شد</span>',
            color: "positive",
            html: true
          });
        })
        .catch(error => {
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span></span>`,
            color: "negative",
            html: true
          });
        });
    },
    putStudent() {
      let row = this.stSelected[0];
      let payload = {};
      payload["phone_num"] = this.studentPhoneNum;
      payload["first_name"] = this.studentFirstName;
      payload["last_name"] = this.studentLastName;
      payload["email"] = this.studentEmail;
      payload["department"] = "CE";
      payload["field"] = this.revfieldConv[this.studentField].toString();

      payload["student_num"] = this.studentNum;
      payload["id"] = row.id;
      this.$store
        .dispatch("putStudent", payload)
        .then(() => {
          this.$q.notify({
            message:
              '<span style="font-family:Yekan;float:right;font-size:15px;">دانشجو ویرایش شد</span>',
            color: "positive",
            html: true
          });
        })
        .catch(error => {
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span></span>`,
            color: "negative",
            html: true
          });
        });
    },
    editIndustry() {
      let row = this.inSelected[0];
      this.showIndustryDi = true;
      this.industryPhoneNum = row.phone_num;
      this.industryFirstName = row.first_name;
      this.industryLastName = row.last_name;
      this.industryEmail = row.email;
      this.industryName = row.represents;
      this.is_active=row.is_active;
    },
    editTeacher() {
      let row = this.teSelected[0];
      this.showTeacherDi = true;
      this.teacherPhoneNum = row.phone_num;
      this.teacherFirstName = row.first_name;
      this.TeacherLastName = row.last_name;
      this.TeacherEmail = row.email;
      this.TeacherNum = row.personnel_num;
      this.TeacherField = this.fieldConv[row.field];
      this.TeacherDpartment = this.depConv[row.department];
    },
    editStudent() {
      let row = this.stSelected[0];
      this.showStudentDi = true;
      this.studentPhoneNum = row.phone_num;
      this.studentFirstName = row.first_name;
      this.studentLastName = row.last_name;
      this.studentNum = row.student_num;
      this.studentEmail = row.email;

      this.studentField = this.fieldConv[row.field];
      this.studentDepartment = this.depConv[row.department];
    }
  }
};
</script>

<style>
.admin-container{
  font-family:Yekan;
}
</style>
