  <template>
  <q-layout view="hHh lpr lFr">
    <q-header reveal elevated class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title style="font-family:Yekan">
          <q-btn v-if="!$q.platform.is.mobile" dense flat round icon="emoji_events" @click="rankingsDrawer = !rankingsDrawer" />
          <q-avatar>
            <a href="/home#/home">
              <img src="../assets/Book.png" />
            </a>
          </q-avatar>
          <span> پایان نامه پورتال</span>

        </q-toolbar-title>
        <span style="font-family:Yekan;padding-right:7px;">{{user.first_name + " " + user.last_name}}</span>
        <q-btn round style="margin-right:5px;" class="bg-secondary">
          <q-avatar icon="account_circle">
            <q-menu>
              <div class="row no-wrap q-pa-md">
                <div class="column">
                  <div style="font-family:Yekan" class="text-h6 q-mb-md">
                    مشخصات
                  </div>
                  <div class="column" style="font-family:Yekan">
                    <div class="col self-center" dir="rtl">{{ user.department }}</div>
                    <div class="col self-center">{{ user.field }} گروه</div>
                    <div class="col self-center" dir="rtl">{{ user.student_num }}</div>
                  </div>
                </div>

                <q-separator vertical inset class="q-mx-lg" />

                <div class="column items-center">
                  <q-avatar icon="account_circle" size="72px"> </q-avatar>

                  <div
                    style="font-family:Yekan"
                    class="text-subtitle2 q-mt-md q-mb-xs"
                  >
                    {{ user.first_name +" "+ user.last_name}}
                  </div>

                  <q-btn
                    style="font-family:Yekan"
                    color="primary"
                    label="خروج"
                    push
                    size="sm"
                    @click="logout"
                    v-close-popup
                  />
                </div>
              </div>
            </q-menu>
          </q-avatar>
        </q-btn>
        <q-btn dense flat round icon="menu" @click="handleDrawerChange" />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawer"
      show-if-above
      :mini="miniState"
      @mouseover="miniState = false"
      @mouseout="miniState = true"
      :width="200"
      :breakpoint="500"
      bordered
      side="right"
      content-class="bg-grey-3"
    >
      <q-scroll-area class="fit" style="font-family:Yekan">
        <q-list padding>
          <q-item v-if="user.is_superuser" @click="showAdminPanel" :active="tab === 'admin'" clickable v-ripple dir="rtl">
            <q-item-section avatar>
              <q-icon name="supervisor_account" />
            </q-item-section>

            <q-item-section>
              پنل ادمین
            </q-item-section>
          </q-item>
          <q-item @click="showProposal" :active="tab === 'home'" clickable v-ripple dir="rtl">
            <q-item-section avatar>
              <q-icon name="book" />
            </q-item-section>

            <q-item-section>
              پایان نامه ها
            </q-item-section>
          </q-item>

          <q-item @click="showHistory" :active="tab === 'score'" clickable v-ripple dir="rtl">
            <q-item-section avatar>
              <q-icon name="how_to_vote" />
            </q-item-section>

            <q-item-section>
              سوابق نمره دهی
            </q-item-section>
          </q-item>

          <q-item
              v-if="$q.platform.is.mobile"
            :active="tab === 'ranking'"
            clickable
              @click="showRanking"
            v-ripple
            dir="rtl"
          >
            <q-item-section avatar>
              <q-icon name="format_list_numbered_rtl" />
            </q-item-section>

            <q-item-section>
              رده بندی
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>
    <q-drawer
     v-if="!$q.platform.is.mobile"
     v-model="rankingsDrawer"
     show-if-above
      bordered
      side="left"
      :width="300"
      :breakpoint="600"
      content-class="bg-grey-3"
    >
      <Ranking/>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapState } from "vuex";
import { isMobile } from "mobile-device-detect";
import Ranking from "@/views/Ranking";
export default {
  components: {Ranking},
  computed: {
    ...mapState({
      mobile: "mobile",
      scores: "scores",
      admin:"admin",
      user:"user"
    }),

  },
  data() {
    return {
      drawer: false,
      miniState: true,
      rankingsDrawer:false,
      tab: "",
      displayName: "فرزام فخرزاد",
      major: "مهندسی کامپیوتر",
      department: "IT",
      displayId: 953611133062
    };
  },
  created() {
    if (isMobile) {
      this.$store.state.mobile = true;
    } else {
      this.$store.state.mobile = false;
    }
    this.$store.dispatch("getUser")
    .then(() => {
      this.tab = this.$router.history.current.name;
    })
    this.$store.dispatch("getRankning")
    
  },

  methods: {
    handleDrawerChange(){
      this.drawer = !this.drawer;
    },
    logout() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push({ name: "login" });
      });
    },
    showHistory(){
        this.tab="score"
        this.$router.push({name:"history"})
    },
    showProposal(){
      this.tab = "home"
      this.$router.push({name : "home"})

    },
    showAdminPanel(){
      this.tab = "admin";
      this.$router.push({name : "admin"})
    },
    showRanking(){
      this.tab = "ranking";
      this.$router.push({name : "ranking"})
    },
    setColor(score) {
      if (score < 10) {
        return "red";
      } else if (score >= 10 && score < 15) {
        return "blue";
      } else if (score >= 15 && score <= 20) {
        return "green";
      }
    },
    darkMode(){
      this.$q.dark.toggle() 
    }
  }
};
</script>

<style></style>
