<template>
  <div style="font-family:Yekan">
        <q-table
        no-data-label="داده ای یافت نشد"
        :dense="$q.screen.lt.md"
        title="سوابق نمرات"
        :data="history"
        :columns="historyColumns"
        row-key="id"
        binary-state-sort
         grid
    
      hide-header
      />
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
     computed: {
    ...mapState({
     history:"history"
    })
  },
  data(){
      return{
          historyColumns:[{
              
          name: "proposal.author.first_name",
          required: true,
          label: "نام",
          align: "center",
          field: row => row.proposal.author.first_name,
          format: val => `${val}`,
          sortable: true
        
          },
          {
              
          name: "proposal.author.last_name",
          required: true,
          label: "نام خانوادگی",
          align: "center",
          field: row => row.proposal.author.last_name,
          format: val => `${val}`,
          sortable: true
        
          },
          {
              
          name: "proposal.author.student_num",
          required: true,
          label: "شماره دانشجویی",
          align: "center",
          field: row => row.proposal.author.student_num,
          format: val => `${val}`,
          sortable: true
        
          },
          {
              
          name: "proposal.title",
          required: true,
          label: "عنوان پایان نامه",
          align: "center",
          field: row => row.proposal.title,
          format: val => `${val}`,
          sortable: true
        
          },
           {
              
          name: "garde",
          required: true,
          label: "نمره",
          align: "center",
          field: "grade",
          format: val => `${val}`,
          sortable: true
        
          }]

      }
  },
  methods:{

  },
  created(){
        this.$store.dispatch("getHistory")
  }

}
</script>

<style>

</style>