<template>
  <div>
    <div class="row full-width justify-end items-center">
      <div class="col-md-1 col-sm-2">
        <q-btn :class="mobile ? 'mobileHeader' : 'desktopHeader'" v-if="!user.is_superuser && !user.is_industry && !user.is_staff" @click="showProposal" size="sm" :icon="!proposal.id ? 'note_add' : 'edit'" round style="font-family: Yekan;display: inline-block;margin-right: 10px" color="primary">
          <q-tooltip>
            {{handleProposalTitle()}}
          </q-tooltip>
        </q-btn>
      </div>
      <div class='col-md-2 col-sm-3'>
       <h5 style="font-family: Yekan;display: inline-block">
          پایان نامه ها
        </h5>
      </div>
    </div>
    <div>
      <div :class="mobile ? 'row full-width justify-center' : 'row full-width'">
      <q-intersection
        style="font-family:Yekan"
        v-for="proposal in proposals"
        transition="scale"
        once
        :key="proposal.id"
      >

          <div class="col-md-3">
            <q-card class="q-ma-md card-item">
              <div class="cover-card" v-bind:style="{ backgroundImage: 'url(' + proposal.pictures[0].image + ')' }"/>
              <q-card-section>
                    <div class="text-h5">{{ proposal.title }}</div>
                  <div class="text-subtitle4">نوشته {{ `${proposal.author.first_name} ${proposal.author.last_name}` }}</div>
              </q-card-section>
              <q-card-section :style="{'height':' 60px','direction': getDirection(proposal.description)}">
                  <p v-html="proposal.description" class="description"></p>
              </q-card-section>
              <q-card-actions>
                <div class="row justify-end">
                  <q-btn
                      icon="remove_red_eye"
                      color="primary"
                      style="float:right;font-family:Yekan;"
                      push
                      size="md"
                      @click="showDialog(proposal)"
                  >مشاهده</q-btn
                  >
                </div>
              </q-card-actions>
            </q-card>
          </div>
      </q-intersection>
      </div>
      <q-dialog   v-model="showdi" >
        <div class="row q-pd-md   self-end" >
          <q-card class=" q-gutter-md" style="padding:10px;">
            <q-card-section class="q-pd-md q-gutter-md">
              <div class="column">
                <div class="col self-end" dir="rtl">
                  <q-avatar
                    color="secondary"
                    text-color="white"
                    size="md"
                    icon="account_circle"
                  ></q-avatar>
                  <span style="margin-right:0.2em;font-size:25px;">{{
                    first_name + " " + last_name
                  }}</span>
                </div>
                <div class="col self-end">
                  <q-chip dir="rtl" color="secondary" flat square
                    >عنوان پایان نامه</q-chip
                  >
                </div>
                <div class="col self-end">
                  <p style="font-size:30px">{{ title }}</p>
                </div>
                <q-space />
                <div class="col self-end">
                  <q-chip color="secondary" flat square dir="rtl">چکیده</q-chip>
                </div>

                <div class="col self-end">
                  <p :style="{'direction': getDirection(decription)}" v-html="decription"></p>
                </div>
                <q-separator />
                <div>
                  <div v-if="doc || multimedia" class="row justify-end">
                    <div class="row q-gutter-md">
                  <div v-if="doc" class="col" >
                    <q-btn
                      color="primary"
                      style="float:right;font-family:Yekan;"
                      push
                      size="md"
                    >
                      <a style="text-decoration:none;color:white;" target="_blank" :href="doc">دانلود سند</a></q-btn
                    >
                  </div>
                  <div v-if="multimedia" class="col-6">
                    <q-btn
                      color="primary"
                      style="float:right;font-family:Yekan;width:150px"
                      push
                      size="md"
                    >
                      <a style="text-decoration:none;color:white;" :href="multimedia">دانلود پاورپوینت</a></q-btn
                    >
                  </div>
                </div>
                  </div>
                  <div>
                  <div v-if="video">
                    <q-video class="video" style="height:400px" :ratio="4 / 3" :src="video" />
                  </div>
                  </div>
               </div>

              </div>

              <div class="row justify-end ">
                <q-chip color="secondary" flat square dir="rtl">نمره</q-chip>
                <q-slider
                  style="width:100%;display:inline-block;margin-right:1em;"
                  v-model="grade"
                  :min="0"
                  :max="20"
                  :step="0.5"
                  snap
                  label
                  :disable="user.is_superuser || user.is_industry || (authorId === user.id)"
                  label-always
                />
                <div>
                  <q-input
                    v-if="!mobile"
                    :disable="user.is_superuser || user.is_industry || (authorId === user.id)"
                    style="margin-right:23em;display:inline-block"
                    v-model.number="grade"
                    type="number"
                    label="نمره"
                    filled
                  >
                  </q-input>
                  <q-input
                    v-else
                    flat
                    style="margin-right:8.5em;display:inline-block"
                    standout=""
                    label="نمره"
                    :disable="user.is_superuser || user.is_industry || (authorId === user.id)"
                    v-model="grade"
                  >
                  </q-input>
                </div>
              </div>
            </q-card-section>
            <q-card-actions>
              <div v-if="!(user.is_superuser || user.is_industry || (authorId === user.id))" class="row justify-end">
                <q-btn
                  icon="remove_red_eye"
                  color="primary"
                  style="float:right;font-family:Yekan;"
                  push
                  size="md"
                  @click="submitScore"
                  >ثبت نمره</q-btn
                >
              </div>
            </q-card-actions>
          </q-card>
        </div>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      user: "user",
      proposals: "proposals",
      proposal:"proposal",
      uploadTime: "uploadTime",
      scoreTime: "scoreTime",
      mobile: "mobile"
    }),
  },
  data() {
    return {
      right: false,
      showdi: false,
      title: "",
      decription: "",
      pictures: "",
      video: "",
      power: "",
      multimedia:"",
      doc: "",
      first_name: "",
      last_name: "",
      authorId:"",
      grade: 0,
      id: null
    };
  },
  methods: {
    handleProposalTitle(){
      if(this.proposal.id) return 'ویرایش پایان نامه'
      return 'ایجاد پایان نامه'
    },
    getDirection(val){
      let english = /^[a-z]?/;
      if (english.test(val)){
        return 'ltr'
      }else{
        return 'rtl'
      }
    },
    showProposal(){
      this.$router.push({name:"proposal"})
    },
    showDialog(data) {
      this.title = data.title;
      this.id = data.id;
      this.decription = data.description;
      this.pictures = data.pictures.length !== 0 ? data.pictures[0].image : "";
      this.video = data.video;
      this.power = data.power;
      this.doc = data.doc;
      this.first_name = data.author.first_name;
      this.last_name = data.author.last_name;
      this.grade = data.grade;
      this.authorId = data.author.id;
      this.multimedia = data.multimedia;
      this.showdi = true;
    },
    submitScore() {
      let payload = {};
      payload["grade"] = this.grade;
      payload["id"] = this.id;

      this.$store
        .dispatch("postScore", payload)
        .then(() => {
          this.showdi = false;
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;"></span></span>نمره ثبت شد</span>`,
            color: "positive",
            html: true
          });
        })
        .catch(error => {
           this.showdi = false;
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span>`,
            color: "negative",
            html: true
          });
        });
    }
  },
  created() {
    this.$store.dispatch("getProposal")
    .then(() => {
    })
    .catch(() => {
    })
    this.$store.dispatch("getProposals");
  }
};
</script>
<style scoped>
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.cover-card{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  max-height: 250px;
  width: 300px;
}
.card-item{
  direction: rtl;
  max-width: 300px;
  width: 300px;
  height: 460px;
}
.video{
height:200px
}
.desktopHeader{
margin-left:8vh;
}

</style>
