<template>
  <div class="row">
    <div
      class="row full-width full-height"
      style="height:100%;background-color:#E9EEF3"
    >
      <div
        class="full-width full-height column  justify-center items-center content-center"
        style="margin-top:5em;"
      >
        <div class="col self-center">
          <img style="margin-top:5em" src="../assets/logoWithText.png" />
          <q-card class="login">
            <q-tabs
              v-model="tab"
              dense
              class="text-grey"
              active-color="primary"
              indicator-color="primary"
              align="justify"
              narrow-indicator
            >
              <q-tab style="font-family:Yekan" name="login" label="ورود" />
              <q-tab
                style="font-family:Yekan"
                name="signup"
                label="ثبت  نام صنایع"
              />
              <q-tab
                style="font-family:Yekan"
                name="admin"
                label="ورود ادمین"
              />
            </q-tabs>
            <q-separator />

            <q-tab-panels v-model="tab" animated>
              <q-tab-panel name="login">
                <div v-if="!codeSent" class="column">
                  <div class="col self-center">
                    <div>
                      <p style="display:inline" class="login-text">
                        .شماره ی تلفن همراه خود برای دریافت کد ورود وارد نمایید
                      </p>
                      <q-icon
                        name="error"
                        style="display:inline;padding:2px;"
                      />
                    </div>
                  </div>
                  <div class="col self-center">
                    <q-card-section>
                      <q-input
                        style="width:100%;min-width:300px;font-family:Yekan;font-size:20px;"
                        clearable
                        standout
                        outlined
                        v-model="phoneNum"
                        type="tel"
                        mask="###########"
                        label="شماره همراه"
                        :rules="[val => !!val || 'لطفا شماره خود را وارد کنید']"
                      >
                        <template v-slot:prepend>
                          <q-icon name="phone" />
                        </template>
                      </q-input>
                      <VueRecaptcha :sitekey="siteKey" :loadRecaptchaScript="true" @verify="getCaptcha"></VueRecaptcha>
                    </q-card-section>
                  </div>
                  <div class="col self-end">
                    <q-card-actions>
                      <q-btn
                        icon="fingerprint"
                        color="primary"
                        style="float:right;font-family:Yekan;"
                        push
                        size="md"
                        :loading="sendingCode"
                        @click="requestCode"
                        >دریافت کد ورود</q-btn
                      >
                    </q-card-actions>
                  </div>
                </div>
                <div v-else class="column">
                  <div v-if="expried" class="col self-center">
                    <p style="font-family:Yekan">زمان تایید کد به اتمام رسید</p>
                  </div>
                  <div class="col self-center" id="timer">
                    <q-circular-progress
                      v-if="!expried"
                      show-value
                      :min="0"
                      :max="120"
                      class="text-light-blue q-ma-md"
                      :value="time"
                      size="100px"
                      reverse=""
                      color="light-blue"
                    />

                    <q-btn
                      v-else
                      icon="autorenew"
                      color="primary"
                      style="float:right;font-family:Yekan;"
                      push
                      size="md"
                      :loading="sendingCode"
                      @click="sendAgain"
                      >درخواست مجدد</q-btn
                    >
                  </div>
                  <div v-if="!expried" class="col self-center" id="guide">
                    <p style="font-family:Yekan">{{ resposneMessage }}</p>
                  </div>

                  <div class="col self-center" id="codeInput">
                    <q-input
                      style="width:100%;min-width:300px;font-family:Yekan;font-size:20px;margin-top:1em;"
                      clearable
                      standout
                      outlined
                      :disable="expried"
                      v-model="confirmCode"
                      type="tel"
                      mask="######"
                      label="کد تایید"
                    >
                      <template v-slot:prepend>
                        <q-icon name="vpn_key" />
                      </template>
                    </q-input>
                  </div>
                  <q-card-actions style="float:right">
                    <div class="col self-end">
                      <q-btn
                        icon="fingerprint"
                        color="primary"
                        style="float:right;font-family:Yekan;"
                        push
                        size="md"
                        :loading="loggingIn"
                        :disable="expried"
                        @click="login"
                        >ورود</q-btn
                      >
                      <div class="col self-start">
                        <q-btn
                          icon="edit"
                          color="primary"
                          style="float:left;font-family:Yekan;"
                          push
                          size="md"
                          @click="codeSent = false"
                          >ویرایش شماره</q-btn
                        >
                      </div>
                    </div>
                  </q-card-actions>
                </div>
              </q-tab-panel>
              <q-tab-panel name="signup">
                <q-form v-if="!sentSingUp">
                  <q-input
                    style="width:100%;min-width:300px;font-family:Yekan;font-size:20px;margin-top:.5em;"
                    clearable
                    standout
                    outlined
                    v-model="inFirstName"
                    label="نام"
                    :rules="[val => !!val || 'لطفا نام خود را وارد کنید']"
                  />
                  <q-input
                    style="width:100%;min-width:300px;font-family:Yekan;font-size:20px;margin-top:.5em;"
                    clearable
                    standout
                    outlined
                    v-model="inLastName"
                    label="نام خوانوادگی"
                    :rules="[
                      val => !!val || 'لطفا نام خوانوادگی خود را وارد کنید'
                    ]"
                  />
                  <q-input
                    style="width:100%;min-width:300px;font-family:Yekan;font-size:20px;margin-top:.5em;"
                    clearable
                    standout
                    outlined
                    v-model="inPhoneNum"
                    type="tel"
                    mask="###########"
                    label="شماره همراه"
                    :rules="[val => !!val || 'لطفا شماره خود را وارد کنید']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="phone" />
                    </template>
                  </q-input>
                  <q-input
                      style="width:100%;min-width:300px;font-family:Yekan;font-size:20px;margin-top:.5em;"
                      clearable
                      standout
                      outlined
                      v-model="inEmail"
                      type="email"
                      mask="###########"
                      label="ایمیل"
                      :rules="[val => !!val || 'لطفا ایمیل خود را وارد کنید']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="phone" />
                    </template>
                  </q-input>
                  <q-input
                    style="width:100%;min-width:300px;font-family:Yekan;font-size:20px;margin-top:.5em;"
                    clearable
                    standout
                    outlined
                    v-model="inName"
                    label="نام صنعت"
                    :rules="[val => !!val || 'لطفا نام صنعت خود را وارد کنید']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="build" />
                    </template>
                  </q-input>
                </q-form>
                <div class="column " v-else>
                  <div class="col self-center">
                    <q-icon
                      name="check_circle"
                      style="font-size:50px;color:green"
                    />
                  </div>
                  <div class="col self-center" style="margin-top:.5em">
                    <p style="font-family:Yekan;">
                      .درخواست شما با موفقیت ارسال شد
                    </p>
                  </div>
                  <div class="col self-center">
                    <p style="font-family:Yekan;">
                      در اسرع وقت برای احراز هویت با شما تماس گرفته می شود
                    </p>
                  </div>
                  <div class="col self-center">
                    <q-btn
                      color="primary"
                      style="float:right;font-family:Yekan;"
                      push
                      size="md"
                      @click="editNum"
                      >باشه</q-btn
                    >
                  </div>
                </div>

                <q-card-actions style="float:right;">
                  <q-btn
                    v-if="tab === 'signup' && sentSingUp === false"
                    icon="assignment"
                    color="primary"
                    style="float:right;font-family:Yekan;"
                    push
                    size="md"
                    @click="requestLogin"
                    >درخواست ثبت نام</q-btn
                  >
                </q-card-actions>
              </q-tab-panel>
              <q-tab-panel name="admin">
                <div v-if="!adminCodeSent">
                  <div class="col self-center">
                    <div>
                      <p style="display:inline" class="login-text">
                        .شماره ی تلفن همراه خود برای دریافت کد ورود وارد نمایید
                      </p>
                      <q-icon
                          name="error"
                          style="display:inline;padding:2px;"
                      />
                    </div>
                  </div>
                    <q-card-section>
                  <q-input
                    style="width:100%;min-width:300px;font-family:Yekan;font-size:20px;margin-top:.5em;"
                    clearable
                    standout
                    outlined
                    v-model="adminUserName"
                    label="شناسه کاربری"
                    :rules="[
                      val => !!val || 'لطفا شناسه کاربری خود را وارد کنید'
                    ]"
                  >
                    <template v-slot:prepend>
                      <q-icon name="supervised_user_circle" />
                    </template>
                  </q-input>
                     <VueRecaptcha :sitekey="siteKey" :loadRecaptchaScript="true" @verify="getCaptcha"></VueRecaptcha>
                     </q-card-section>
                  <q-card-actions style="float:right;">
                    <q-btn
                      v-if="tab === 'admin'"
                      icon="fingerprint"
                      color="primary"
                      style="float:right;font-family:Yekan;"
                      push
                      size="md"
                      @click="adminSendCode"
                      >ورود</q-btn
                    >
                  </q-card-actions>
                 
                </div>
                <div v-else class="column">
                  <div v-if="expried" class="col self-center">
                    <p style="font-family:Yekan">زمان تایید کد به اتمام رسید</p>
                  </div>
                  <div class="col self-center" id="timer">
                    <q-circular-progress
                      v-if="!expried"
                      show-value
                      :min="0"
                      :max="120"
                      class="text-light-blue q-ma-md"
                      :value="time"
                      size="100px"
                      reverse=""
                      color="light-blue"
                    />

                    <q-btn
                      v-else
                      icon="autorenew"
                      color="primary"
                      style="float:right;font-family:Yekan;"
                      push
                      size="md"
                      :loading="sendingCode"
                      @click="sendAgain"
                      >درخواست مجدد</q-btn
                    >
                  </div>
                  <div v-if="!expried" class="col self-center" id="guide">
                    <p style="font-family:Yekan">{{ resposneMessage }}</p>
                  </div>

                  <div class="col self-center" id="codeInput">
                    <q-input
                      style="width:100%;min-width:300px;font-family:Yekan;font-size:20px;margin-top:1em;"
                      clearable
                      standout
                      outlined
                      :disable="expried"
                      v-model="adminConfirmCode"
                      type="tel"
                      mask="######"
                      label="کد تایید"
                    >
                      <template v-slot:prepend>
                        <q-icon name="vpn_key" />
                      </template>
                    </q-input>
                  </div>
                  <q-card-actions style="float:right">
                    <div class="col self-end">
                      <q-btn
                        icon="fingerprint"
                        color="primary"
                        style="float:right;font-family:Yekan;"
                        push
                        size="md"
                        :loading="loggingIn"
                        :disable="expried"
                        @click="adminLogin"
                        >ورود</q-btn
                      >
                      <div class="col self-start">
                        <q-btn
                          icon="edit"
                          color="primary"
                          style="float:left;font-family:Yekan;"
                          push
                          size="md"
                          @click="adminCodeSent = false"
                          >ویرایش شماره</q-btn
                        >
                      </div>
                    </div>
                  </q-card-actions>
                </div>
              </q-tab-panel>
            </q-tab-panels>
          </q-card>
        </div>
      </div>
    </div>
    <div
      class="row full-width full-height"
      style="background-color:#E9EEF3 ;height:200px;"
    >
      <p style="height:210px"></p>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import VueRecaptcha from "vue-recaptcha"
export default {
    components: {VueRecaptcha},
  computed: {
    ...mapState({
      user: "user",
      uploadTime: "uploadTime",
      scoreTime: "scoreTime",
      siteKey:"siteKey"
    })
  },
  data() {
    return {
      right: false,
      adminCodeSent: false,
      recaptcha:"",
      phoneNum: null,
      tab: "login",
      inFirstName: "",
      inLastName: "",
      inPhoneNum: null,
      inName: "",
      inEmail:'',
      codeSent: false,
      time: 120,
      expried: false,
      confirmCode: null,
      adminConfirmCode: null,
      sentSingUp: false,
      interval: null,
      adminUserName: "",
      adminPassword: "",
      resposneMessage: "",
      sendingCode: false,
      loggingIn: false
    };
  },
  methods: {
    getCaptcha(params){
        this.recaptcha = params;
    },
    login() {
      this.loggingIn = true;
      let payload = { phone_num: this.phoneNum, password: this.confirmCode };
      this.$store
        .dispatch("login", payload)
        .then(() => {
          //TODO add routing based on user
                this.$router.push({ name: "home" });
                 this.$q.notify({
              message: `<span style="font-family:Yekan;float:right;font-size:15px;"></span></span>شما وارد شدید</span>`,
              color: "positive",
              html: true
            });
        })
        .catch(error => {
          this.loggingIn = false;
          if (error.response.status === 401) {
            this.$q.notify({
              message: `<span style="font-family:Yekan;float:right;font-size:15px;">کد وارد شده صحیح نمی باشد</span>`,
              color: "negative",
              html: true
            });
          } else {
            this.$q.notify({
              message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.response.data.message}</span>`,
              color: "negative",
              html: true
            });
          }
        });
    },
    sendAgain() {
      clearInterval(this.interval);
      this.time = 120;
      this.requestCode();
    },
    requestCode() {
      let payload = {};
      this.sendingCode = true;
      payload["phone_num"] = this.phoneNum;
      payload["recaptcha"] =this.recaptcha;
      this.$store
        .dispatch("sendCode", payload)
        .then(data => {
          this.sendingCode = false;
          this.resposneMessage = data.data.message;
          clearInterval(this.interval);
          this.expried = false;
          this.codeSent = true;
          this.time = 120;
          this.interval = setInterval(() => {
            this.time = this.time - 1;
            if (this.time <= 0) {
              clearInterval(this.interval);
              this.expried = true;
            }
          }, 1000);
        })
        .catch(error => {
          this.sendingCode = false;
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.response.data.message}</span>`,
            color: "negative",
            html: true
          });
        });
    },
    requestLogin() {

      let payload = {};
      payload["phone_num"] = this.inPhoneNum;
      payload["first_name"] = this.inFirstName;
      payload["last_name"] = this.inLastName;
      payload["email"] = this.inEmail;
      payload["represents"] = this.inName;
      this.$store.dispatch("requestSignUpIn",payload)
      .then(() => {
        this.sentSingUp = true;
      })
      .catch((error) => {
        this.$q.notify({
          message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.response.data.message}</span>`,
          color: "negative",
          html: true
        });
      })

      //here sends request to admin
    },
    editNum() {
      this.tab = "login";
      clearInterval(this.interval);
      this.codeSent = false;
      this.time = 120;
    },
    editAdminNum() {
      clearInterval(this.interval);
      this.adminCodeSent = false;
      this.time = 120;
    },
    adminSendCode() {
      let payload = {};
      this.sendingCode = true;
      payload["phone_num"] = this.adminUserName;
      payload["recaptcha"] =this.recaptcha;
      this.$store
        .dispatch("sendCode", payload)
        .then(data => {
          this.sendingCode = false;
          this.resposneMessage = data.data.message;
          clearInterval(this.interval);
          this.expried = false;
          this.adminCodeSent = true;
          this.time = 120;
          this.interval = setInterval(() => {
            this.time = this.time - 1;
            if (this.time <= 0) {
              clearInterval(this.interval);
              this.expried = true;
            }
          }, 1000);
        })
        .catch(error => {
          this.sendingCode = false;
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.response.data.message}</span>`,
            color: "negative",
            html: true
          });
        });
    },
    adminLogin() {
      this.loggingIn = true;
      let payload = {
        phone_num: this.adminUserName,
        password: this.adminConfirmCode
      };
      this.$store
        .dispatch("login", payload)
        .then(() => {
          this.loggingIn = false;
          this.$q.notify({
            message:
              '<span style="font-family:Yekan;float:right;font-size:15px;">شما وارد شدید</span>',
            color: "positive",
            html: true
          });
          this.$router.push({ name: "admin" });
        })
        .catch(error => {
          this.loggingIn = false;
          if (error.response.status === 401) {
            this.$q.notify({
              message: `<span style="font-family:Yekan;float:right;font-size:15px;">کد وارد شده صحیح نمی باشد</span>`,
              color: "negative",
              html: true
            });
          } else {
            this.$q.notify({
              message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.response.data.message}</span>`,
              color: "negative",
              html: true
            });
          }
        });
    }
  }
};
</script>
<style scoped>
.login {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}
.login-text {
  font-family: Yekan;
  margin-top: 2em;
}
.div {
  font-family: Yekan;
}
.p {
  font-family: Yekan;
}

</style>
