<template>
  <div>
    <q-form ref="proposalRef" class="q-gutter-md">
      <div class="column q-pa-md">
        <div class="col self-end  ">
          <q-input
              required
            style="width:100%;min-width:300px;font-family:Yekan;font-size:20px;"
            clearable
            standout
            outlined
            v-model="title"
            icon="title"
            label="عنوان"
            :rules="[val => !!val || 'لطفا عنوان پایان نامه خود را وارد کنید']"
          >
            <template v-slot:prepend>
              <q-icon name="title" />
            </template>
          </q-input>
        </div>
        <div class="col self-end">
          <q-chip square color="secondary" style="color:white;font-family:Yekan"
            >چکیده</q-chip
          >
        </div>
        <div>
          <q-editor
              :rules="[val => !!val || 'لطفا چکیده پایان نامه خود را وارد کنید']"
            v-model="description"
            dir="rtl"
            toolbar-bg="primary"
            toolbar-text-color="white"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  list: 'only-icons',
                  options: ['left', 'center', 'right', 'justify']
                },
                'bold',
                'italic',
                'strike',
                'underline',
                'subscript',
                'superscript'
              ],
              ['undo', 'redo', 'viewsource'],
              ['token', 'hr', 'link', 'custom_btn', 'print', 'fullscreen'],

              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code']
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7'
                  ]
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana'
                  ]
                },
                'removeFormat'
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent']
            ]"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana'
            }"
          />
        </div>
        <div class="col" style="font-family:Yekan">
          <div class="row full-width justify-evenly">
            <div class="col-md-3 col-lg-3 col-sm-6">
              <div class="column">
                <div class="col self-center">
                  <q-chip
                    square
                    color="secondary"
                    style="color:white;font-family:Yekan"
                    >تصویر</q-chip
                  >
                </div>
                <div class="col self-center">
                  <q-uploader
                      :rules="[val => !!val || 'لطفا یک تصویر برای پایان نامه خود را انتخاب کنید']"
                      style="max-width: 250px"
                    :url="'/proposal/'"
                    label="بارگزاری تصاویر"
                    :max-file-size="1048576"
                    accept=".svg, .png,.jpg, image/*"
                    @removed="removeImage"
                    @added="addImage"
                    hide-upload-btn
                    ref="imgUp"
                    :loading="sendingProposal"
                  ></q-uploader>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6">
              <div class="column">
                <div class="col self-center">
                  <q-chip
                    square
                    color="secondary"
                    style="color:white;font-family:Yekan"
                    >پاورپوینت</q-chip
                  >
                </div>
                <div class="col self-center">
                  <q-uploader
                      style="max-width: 250px"
                      class="uploaders"
                    :url="'/proposal/'"
                    label="بارگزاری پاورپونت"
                    accept=".ppt,.pptx"
                    @added="addPower"
                    @removed="removePower"
                    :max-file-size="5242880"
                    hide-upload-btn
                    ref="powerUp"
                    :loading="sendingProposal"
                  ></q-uploader>
                 
                </div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6">
              <div class="column">
                <div class="col self-center">
                  <q-chip
                    square
                    color="secondary"
                    style="color:white;font-family:Yekan"
                    >سند پروژه</q-chip
                  >
                </div>
                <div class="col self-center">
                  <q-uploader
                      class="uploaders"
                      style="max-width: 250px"
                    ref="docUp"
                    label="بارگزاری سند"
                    :max-file-size="1024000"
                    accept=".pdf,.docx"
                    @removed="removeDoc"
                    @added="addDoc"
                    hide-upload-btn
                    :loading="sendingProposal"
                  ></q-uploader>

                </div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6">
              <div class="column">
                <div class="col self-center">
                  <q-chip
                      square
                      color="secondary"
                      style="color:white;font-family:Yekan"
                  >ویدیو</q-chip
                  >
                </div>
                <div class="col self-center">
                  <q-uploader
                      ref="docUP"
                      label="بارگزاری ویدیو"
                      style="max-width: 250px"
                      :max-file-size="104857600"
                      accept=".mp4"
                      @added="addVideo"
                      @removed="removeVideo"
                      :loading="sendingProposal"
                      hide-upload-btn
                  ></q-uploader>



                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col self-end q-gutter-md" style='margin-top:20px'>
          <q-btn
            v-if="!proposal.id"
            icon="send"
            color="primary"
            style="float:right;font-family:Yekan;"
            push
            size="md"
            :loading="sendingProposal"
            @click="uploadProposal"
            >ارسال</q-btn
          >
          <q-btn
            v-if="proposal.id"
            icon="edit"
            color="primary"
            style="float:right;font-family:Yekan;"
            push
            size="md" 
            :loading="sendingProposal"
            @click="editProposal"
            >ویرایش</q-btn
          >
          <q-btn
            v-if="proposal.id"
            icon="delete"
            color="primary"
            style="float:right;font-family:Yekan;"
            push
            size="md"
            :loading="sendingProposal"
            @click="deleteProposal"
            >حذف</q-btn
          >
        </div>
      </div>
    </q-form>
  </div>
</template>

<script>
import { mapState,mapGetters } from "vuex";
export default {
  computed: {
    ...mapState({
      accessToken: "accessToken",
      currentUser: "currentUser",
      channel: "channel",
      proposal: "proposal"
    }),
    ...mapGetters({
      initProposal: 'getProposal'
    })
  },
  data() {
    return {
      videoFile: "",
      title: "",
      description: "",
      payload: new FormData(),
      sendingProposal: false,
      docCheck: false,
      imageCheck: false,
      powerCheck: false,
      videoCheck: false,
      videoUrl: "",
      video: "",
      videoInfo: "",
      img: [],
      power: "",
      doc: "",
      progress: 0
    };
  },
  methods: {
    loadXHR(url) {
  return new Promise(function(resolve, reject) {
    try {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", url);
      xhr.responseType = "blob";
      xhr.onerror = function() {reject("Network error.")};
      xhr.onload = function() {
        if (xhr.status === 200) {resolve(xhr.response)}
        else {reject("Loading error:" + xhr.statusText)}
      };
      xhr.send();
    }
    catch(err) {reject(err.message)}
  });
},
addVideo(file) {
      this.payload.append("video", file[0]);
      this.videoCheck = true;
    },
    removeVideo() {
      this.payload.delete("video");
      this.videoCheck = false;
    },
    removeDoc() {
      this.payload.delete("doc");
      this.docCheck = false;
    },
    addDoc(file) {
      this.payload.append("doc", file[0]);
      this.docCheck = true;
    },
    addImage(file) {
      for (let i = 0; i < file.length; i++) {
        let d = i + 1;
        let key = "image_" + d;
        this.payload.append(key, file[i]);
      }
      this.imageCheck = true;
    },
    removeImage() {
      this.payload.delete("image_1");
      this.imageCheck = false;
    },
    addPower(file) {
      this.payload.append("multimedia", file[0]);
      this.powerCheck = true;
    },
    removePower() {
      this.payload.delete("multimedia");
      this.powerCheck = false;
    },
    uploadProposal() {
      this.sendingProposal = true;
      this.payload.delete("title");
      this.payload.delete("title")
      this.payload.append("title", this.title);
      this.payload.append("description", this.description);
      this.$refs.proposalRef.validate()
      .then((outcome)=> {
        if(outcome) {
          this.$store
              .dispatch("uploadProposal", this.payload)
              .then(() => {
                this.sendingProposal = false;
                this.$q.notify({
                  message: `<span style="font-family:Yekan;float:right;font-size:15px;">پایان نامه شما ثبت شد</span>`,
                  color: "positive",
                  html: true
                });
              })
              .catch(error => {

                this.sendingProposal = false;
                this.$q.notify({
                  message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span>`,
                  color: "negative",
                  html: true
                });
              });
          }
        })

    },
    editProposal() {
      this.sendingProposal = true;
       this.payload.append("title", this.title);
      this.payload.append("description", this.description);
      this.$store.dispatch("editProposal",this.payload)
      .then(() => {
             this.sendingProposal = false;
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">پایان نامه شما ثبت شد</span>`,
            color: "positive",
            html: true
          });
      }).catch(error => {
           this.sendingProposal = false;
          this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span>`,
            color: "negative",
            html: true
          });

      })
    },
    deleteProposal() {
      this.sendingProposal = true;
      this.$store.dispatch("deleteProposal")
      .then(() => {
          this.sendingProposal = false;
         this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">پایان نامه شما حذف  شد</span>`,
            color: "positive",
            html: true
          });

      }).catch(error => {
          this.sendingProposal = false;
           this.$q.notify({
            message: `<span style="font-family:Yekan;float:right;font-size:15px;">${error.message}</span>`,
            color: "negative",
            html: true
          });
      })
    },
    dataURItoBlob(dataURI) {
      // convert base64/URLEncoded data component to raw binary data held in a string
      let byteString;
      if (dataURI.split(",")[0].indexOf("base64") >= 0)
        byteString = atob(dataURI.split(",")[1]);
      else byteString = unescape(dataURI.split(",")[1]);

      // separate out the mime component
      let mimeString = dataURI
        .split(",")[0]
        .split(":")[1]
        .split(";")[0];

      // write the bytes of the string to a typed array
      let ia = new Uint8Array(byteString.length);
      for (let i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
      }
      return new Blob([ia], { type: mimeString });
    }
  },
  created() {
     this.$store.dispatch("getUser")
     .then(() => {
           this.$store
      .dispatch("getProposal")
      .then(data => {
        if (data.id){
          this.title = data.title;
          this.description = data.description;
          this.videoUrl = data.video;

          if (data.multimedia) this.$refs.powerUp.addFiles([this.dataURItoBlob(data.multimedia)]);
          if (data.pictures[0].image) this.$refs.imgUp.addFiles([this.dataURItoBlob(data.pictures[0].image)]);
          if (data.doc) this.$refs.docUp.addFiles([this.dataURItoBlob(data.doc)]);
        }
      })
      .catch(() => {});
     })
   
  }
};
</script>

<style>

</style>
