<template>
  <q-scroll-area class="fit">
    <div class="column justify-center  items-center content-center q-pa-md">
      <h6 dir="rtl"  style="font-family:Yekan;margin-top:-0em;">رتبه بندی</h6>
    </div>
    <div class="column q-gutter-sm" v-if="scores.length > 0">
    <q-intersection
        class="col"
        v-for="score in scores"
        transition="scale"
        once
        :key="score.id">
      <q-card style="font-family:Yekan;margin:5px;">
        <q-card-section style="direction: rtl" class="q-gutter-md">
              <div class="text-h5">{{ score.title }}</div>
              <div class="text-subtitle4">نوشته {{ `${score.author.first_name} ${score.author.last_name}` }}</div>
        </q-card-section>
        <q-card-section>
          <q-slider
              v-model="score.grade"
              :color="setColor(score.grade)"
              :min="0"
              :max="20"
              :step="0.5"
              snap
              label
              label-always
              readonly
          />
        </q-card-section>
      </q-card>
    </q-intersection>

  </div>
  <div v-else>
    <q-chip square  color="red-9" size="l"  :style="{'color':'white','font-family':'Yekan','margin-top':$q.platform.is.mobile ? '24%': '100%','margin-left':$q.platform.is.mobile? '5em' : '1em','padding':'8px'}"
            class="col self-center ">
      <h6>
        <q-icon name="mdi-emoticon-sad"/>
        هنوز نمره ای وارد نشده است
      </h6>
    </q-chip>
  </div>
  </q-scroll-area>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "Ranking",
  computed: {
    ...mapState({
      scores: "scores",
    }),

  },
  methods:{
    setColor(score) {
      if (score < 10) {
        return "red";
      } else if (score >= 10 && score < 15) {
        return "blue";
      } else if (score >= 15 && score <= 20) {
        return "green";
      }
    },
  }
}
</script>

<style scoped>

</style>