


h1 {
  font-size: 4rem;
  text-align: center;
}

h3 {
    font-size: medium;

}
h4{
    font-size:small;
    font-weight: bold;
    text-align: center;
}
td{
    font-size:smaller;
    font-weight: bold;
    text-align: right;

}

