<template>
 <router-view />
</template>

<script>
import axios from "axios"
import {mapState} from "vuex";
export default {
  name:"app",
  computed: {
    ...mapState({
      accessToken: "accessToken",
      refreshToken: "refreshToken",
    }),
  },
  created () {
    axios.interceptors.response.use(undefined, err => {
      return new Promise(() => {
        if (
          err.response.status === 401 && err.config && err.response
        ) {
          if (this.refreshToken && !err.config.url.contains("api/get/user")){
            this.$store.dispatch("getNewToken")
                .then(() =>{
                  return axios.request(err.config);

                }).catch(() => {
              this.$q.notify({
                message:
                    '<span style="font-family:Yekan;float:right;font-size:15px;">شما اجازه دسترسی ندارید</span>',
                color: "negative",
                html: true
              });
              this.$router.push({ name: "login" });
            })
          }else{
            localStorage.setItem("refreshToken" , "");
            localStorage.setItem("accessToken" , "")
            this.$router.push({ name: "login" });

          }
         
        }
        throw err;
      });
    });
  }
};
</script>

<style>

</style>
